_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.idea
*.out
*.aux
*.log
*.toc
awesome-cv/**/*.pdf
server/ip.sh
server/domain.sh
scripts/__pycache__
assets/conversations/temp_*.mp3
scripts/weibo_cookies.txt
assets/epub/lzwjava*.epub
invoice
*.o
*.s
hello
