<header class="page-header" role="banner">

  <div class="circular-image">
    <img src="/assets/images/avatar.jpg" alt="">
  </div>

  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}
  </h2>

  <a href="/" class="btn">Blog</a>
  <a href="/wechat" class="btn">WeChat</a>
  <a href="https://www.linkedin.com/in/lzwjava" class="btn">LinkedIn</a>
  <a href="/platforms" class="btn">Platforms</a>
  <a href="/things-places" class="btn">Things</a>
  <a href="/things-places-cn" class="btn">利器</a>
  <a href="/resume" class="btn">Resume</a>
  <a href="/resume-zh" class="btn">简历</a>
  <a href="/notes" class="btn">Notes</a>

</header>