<header class="page-header" role="banner">

  <div class="circular-image">
    <img src="/assets/images/avatar.jpg" alt="">
  </div>

  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}
  </h2>

  <a href="/books" class="btn">Books</a>
  <a href="/pages/wechat" class="btn">WeChat</a>
  <a href="/pages/platforms" class="btn">Platforms</a>
  <a href="/pages/resume" class="btn">Resume</a>
  <a href="/pages/donate" class="btn">Donate</a>
  <a href="/pages/portfolio" class="btn">Portfolio</a>
  <a href="/pages/side-projects" class="btn">Projects</a>
  <a href="/pages/things-places" class="btn">Things</a>
  <a href="/pages/notes" class="btn">Notes</a>

</header>