<ul class="post-list">
  {% assign type = include.type | default: "posts" %}
  {% assign collection = site[type] %}
  {% if collection.size > 0 %}
  {% for post in collection %}
  {% assign translated = post.translated %}
  {% assign generated = post.generated %}
  {% if translated == nil %}
  {% assign translated = false %}
  {% endif %}
  {% if generated == nil %}
  {% assign generated = false %}
  {% endif %}
  {% if post.path contains '_{{ type }}/{{ include.lang }}/' %}
  <li class="list-group-item post-item lang-{{ include.lang }} type-{{ type }}" data-top="{{ post.top }}" data-translated="{{ translated }}"
    data-generated="{{ generated }}">
    <a href="{{ post.url }}">
      <span class="date">{{ post.date | date: "%Y.%m.%d" }}</span>
      <span class="type"> {% if post.image %}image{% else %}text{% endif %}</span>
      <span class="title">{{ post.title }}</span>
    </a>
  </li>
  {% endif %}{% endfor %}
  {% else %}
  <li class="list-group-item post-item">No {{ type }} available. </li>
  {% endif %}
</ul>