.main-content {

  @include large {
    max-width: 52rem;
  }

  // img {
  //   display: block;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

}

.circular-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  display:inline-block;
  vertical-align:middle;
}

.circular-image img{
  width:100%;
}

.btn {
  @include small {
    display: inline-block;
    width: 30%;
  }
}

.post-list {
  .post-item {    
    margin-bottom: 1rem;

    .title {
      display: inline;
    }
  
    .date {
      // float: right;
      font-size: small;
    }
  }
}

ul.post-list {
  list-style: none;
  padding-inline-start: 20px;
}

ul.post-list li::before {
  content: "\2022"; 
  color: $section-headings-color; 
  font-weight: bold; 
  display: inline-block; 
  width: 0.5em; 
  margin-left: -1em; 
}
