/* Variables */
$section-headings-color: #3b3b3b;
$header-bg-color: #f8f0e3;
$main-bg-color: #fff;
$pre-bg-color: #e0d9cf;
$date-color: darkgray;
$section-link-color: #2a6496;

/* Buttons */
.btn {
  width: 8rem;
  margin: 0.5rem;
  /* Add space between buttons */
  padding: 0.5rem 1rem;
  /* Adjust padding for better appearance */
  font-size: 0.9rem;
  /* Adjust font size */
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

/* Page Header */
.page-header {
  align-items: center;
  background-color: $main-bg-color;
  background-image: linear-gradient(120deg, #004eff, #bfc800);
  padding: 1rem;

  h1,
  h2 {
    text-align: center;
    margin: 1rem 0;
  }

  .btn {
    margin: 0.5rem;
    /* Space between buttons */
  }
}

/* Responsive Styles */
@media screen and (max-width: 48em) {
  .page-header .btn {
    width: 100%;
    /* Stack buttons on top of each other */
    text-align: center;
    /* Center the button text */
    margin: 0.5rem 0;
    /* Add margin for spacing */
  }
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: row;
    /* Keep items in a row */
  }

  .btn {
    width: auto;
    /* Adjust button width */
    text-align: center;
  }
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .row {
    padding: 0 12rem;
    /* Add horizontal padding on large screens */
  }
}

/* Project Name and Tagline */
.project-name,
.project-tagline {
  text-align: center;
  margin: 0.5rem 0;
  /* Add spacing */
}

/* Main Content */
.main-content {
  max-width: 60rem;
  margin: 0 auto !important;

  h6,
  blockquote {
    color: $section-headings-color;
  }

  hr {
    background-color: #eff0f1;
  }

  a {
    color: $section-link-color;
  }
}

.highlight {
  background-color: $main-bg-color;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: $section-link-color;
}

/* Circular Image */
.circular-image {
  width: 5rem;
  /* Adjust size as needed */
  height: 5rem;
  /* Match width for a perfect circle */
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

/* Row Layout */
.row {
  display: flex;
  justify-content: space-evenly;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
  max-width: 60rem;
  margin: 0 auto !important;
}

/* Compact Row */
.compact-row {
  display: flex;
  align-items: center;
  /* Vertically align the avatar and text */
  justify-content: center;
  /* Center them horizontally */
  gap: 1rem;
  /* Add spacing between items */
  padding: 1rem 0;
}

/* Post List */
.post-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.post-item {
  position: relative;
  display: block;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
  background-color: #fff;
  list-style-type: none;
  cursor: pointer;

  &:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }
}

/* Date and Title */
.date {
  display: inline-block;
  font-size: 0.8rem;
  color: #555;

  @include small {
    display: block;
    font-size: 0.6rem;
  }
}

.title {
  margin-bottom: 0 !important;
  font-size: 1.1rem;

  @include small {
    font-size: 1rem;
  }
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;

  .button {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
    text-align: center;

    &.left-button {
      align-self: flex-start;
    }

    &.right-button {
      align-self: flex-end;
    }
  }
}

/* Body */
body {
  line-height: 1.8;
  background-color: $main-bg-color;

  &:lang(en) {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  }

  &:lang(zh) {
    font-family: "PingFangSC-Regular", "Microsoft YaHei", sans-serif;
  }
}

/* Footer */
.site-footer {
  text-align: center;
  padding: 2rem 0;
  margin-top: 0;
}

/* Video Container */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.responsive {
  width: 100%; // Default width for mobile (100%)
  max-width: 50%; // Maximum width for larger screens (50%)
  height: auto; // Maintain aspect ratio

  @media (min-width: 768px) {
    width: 50%; // 50% width for laptop or larger screens
  }
}