$section-headings-color: #3b3b3b;
$header-bg-color: #f8f0e3;
$main-bg-color: #fff;
$pre-bg-color: #e0d9cf;
$date-color: darkgray;
$section-link-color: #2a6496;

.btn {
  width: 6rem;
  margin: 5px;
  /* Add some space between buttons */
  padding: 8px 16px;
  /* Adjust padding for better appearance */
  font-size: 0.9em;
  /* Adjust font size */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}


.page-header {
  align-items: center;
  background-color: $main-bg-color;
  background-image: linear-gradient(120deg, #004eff, #bfc800);
  padding: 10px;
}

.page-header h1,
.page-header h2 {
  text-align: center;
  margin: 10px 0;
}

.page-header .btn {
  margin: 5px; // Slight space between buttons
}

@media screen and (max-width: 48em) {

  // Adjust for smaller screens
  .page-header .btn {
    width: 100%; // Stack buttons on top of each other
    text-align: center; // Center the button text
    margin: 5px 0; // Add margin for spacing
  }

}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: row;
    /* Stack items vertically */
  }

  .btn {
    width: auto;
    /* Make buttons full width */
    text-align: center;
  }

}


@media screen and (min-width: 64em) {
  .project-name {
    font-size: 2.75rem;
  }
}

.project-name,
.project-tagline {
  text-align: center;
  /* Center text */
  margin: 5px 0;
  /* Add spacing */
}

.main-content {

  @include large {
    max-width: 60rem;
  }

  @include medium {
    max-width: 60rem;
  }

  h6 {
    color: $section-headings-color;
  }

  blockquote {
    color: $section-headings-color;
  }

  hr {
    background-color: #eff0f1;
  }

}

.highlight {
  background-color: $main-bg-color;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: $section-link-color;
}

.circular-image img {
  width: 100%;
}

.post-list {
  padding: 0;
  margin: 0;
}

.post-item {
  position: relative;
  display: block;
  padding: 3px 5px;
  margin-bottom: 0px;
  background-color: #fff;
  list-style-type: none;
  cursor: pointer;
}

.post-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.date {
  display: inline-block;
  font-size: 0.8em;
  color: #555;

  @include small {
    display: block;
    font-size: 0.6em;
  }
}

.title {
  margin-bottom: 0px !important;
  font-size: 1.1em;

  @include small {
    font-size: 1em;
  }
}


ul.post-list {
  list-style: none;
  padding-inline-start: 10%;

  @include small {
    padding-inline-start: 0%;
  }

}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.left-button {
  align-self: flex-start;
}

.right-button {
  align-self: flex-end;
}

.main-content {
  color: $section-headings-color;

  margin: 0 auto !important;

  @include small {
    padding: 2rem 1.5rem;
  }

  a {
    color: $section-link-color;
  }
}

body {
  line-height: 1.8;
  background-color: $main-bg-color;
}

body:lang(en) {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
}

body:lang(zh) {
  font-family: "PingFangSC-Regular", "Microsoft YaHei", sans-serif;
}

.site-footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0rem;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
  /* Add spacing between rows */
  max-width: 60rem;
  margin: 0 auto !important;
}

@media screen and (min-width: 1024px) {
  .row {
    padding: 0 7rem;
    /* Add horizontal padding on large screens */
  }
}

.compact-row {
  display: flex;
  align-items: center;
  /* Vertically align the avatar and text */
  justify-content: center;
  /* Center them horizontally */
  gap: 1rem;
  padding: 1rem 0;
  /* Add some spacing between the avatar and text */
}

/* Make the avatar smaller */
.circular-image {
  width: 5rem;
  /* Adjust size as needed */
  height: 5rem;
  /* Match width for a perfect circle */
  border-radius: 50%;
  overflow: hidden;
}

/* Ensure text is aligned properly */
.text-container {
  text-align: left;
  /* Align text to the left */
}

.project-name {
  font-size: 1.2rem;
  /* Adjust font size for better balance */
  margin: 0;
  padding: 0;
}