.main-content {

  @include large {
    max-width: 52rem;
  }

}

.btn {
  @include small {
    display: inline-block;
    width: 30%;
  }
}

.post-list {
  .title {
    display: inline-block;
  }

  .date {
    // float: right;
    margin-left: 0.5rem;
    font-size: small;
  }
}