.highlight {
    table {
        td {
            padding: 5px;
        }

        pre {
            margin: 0;
        }
    }

    &,
    .w {
        color: #c9d1d9;
        background-color: #161b22;
    }

    .k,
    .kd,
    .kn,
    .kp,
    .kr,
    .kt,
    .kv {
        color: #ff7b72;
    }

    .gr {
        color: #f0f6fc;
    }

    .gd {
        color: #ffdcd7;
        background-color: #67060c;
    }

    .nb,
    .nc,
    .no,
    .nn {
        color: #ffa657;
    }

    .sr,
    .na,
    .nt {
        color: #7ee787;
    }

    .gi {
        color: #aff5b4;
        background-color: #033a16;
    }

    .kc {
        color: #79c0ff;
    }

    .l,
    .ld,
    .m,
    .mb,
    .mf,
    .mh,
    .mi,
    .il,
    .mo,
    .mx {
        color: #79c0ff;
    }

    .sb,
    .bp,
    .ne,
    .nl,
    .py,
    .nv,
    .vc,
    .vg,
    .vi,
    .vm {
        color: #79c0ff;
    }

    .o,
    .ow {
        color: #79c0ff;
    }

    .gh,
    .gu {
        color: #1f6feb;
        font-weight: bold;
    }

    .s,
    .sa,
    .sc,
    .dl,
    .sd,
    .s2,
    .se,
    .sh,
    .sx,
    .s1,
    .ss {
        color: #a5d6ff;
    }

    .nd,
    .nf,
    .fm {
        color: #d2a8ff;
    }

    .err {
        color: #f0f6fc;
        background-color: #8e1519;
    }

    .c,
    .ch,
    .cd,
    .cm,
    .cp,
    .cpf,
    .c1,
    .cs,
    .gl,
    .gt,
    .ni,
    .si {
        color: #8b949e;
    }

    .ge {
        color: #c9d1d9;
        font-style: italic;
    }

    .gs {
        color: #c9d1d9;
        font-weight: bold;
    }

    .p,
    .n {
        color: #fff;
    }

}