$background-color_1: #1e1e1e;
$color_1: #fff;
$color_2: #e74c3c;
/* Keywords */
$color_3: #fff;
$color_4: #34495e;
/* Deleted text background */
$color_5: #95a5a6;
/* Namespaces */
$color_6: #2ecc71;
/* Strings */
$color_7: #3498db;
/* Operators */
$color_8: #2ecc71;
/* Numbers */
$color_9: #8e44ad;
/* Functions */
$color_10: #95a5a6;
/* Comments */
$background-color_2: #34495e;
/* Deleted background */
$background-color_3: #27ae60;
/* Inserted background */
$background-color_4: #e67e22;
/* Error background */

.dark-mode {
    .highlight {
        table {
            td {
                padding: 5px;
            }

            pre {
                margin: 0;
            }
        }

        color: $color_1;
        background-color: $background-color_1;

        .w {
            color: $color_1;
            background-color: $background-color_1;
        }

        .k,
        .kd,
        .kn,
        .kp,
        .kr,
        .kt,
        .kv {
            color: $color_2;
        }

        .gr {
            color: $color_3;
        }

        .gd {
            color: $color_1;
            background-color: $background-color_2;
        }

        .nb,
        .nc,
        .no,
        .nn {
            color: $color_5;
        }

        .sr,
        .na,
        .nt,
        .gi {
            color: $color_6;
        }

        .kc,
        .l,
        .ld,
        .m,
        .mb,
        .mf,
        .mh,
        .mi,
        .il,
        .mo,
        .mx,
        .sb,
        .bp,
        .ne,
        .nl,
        .py,
        .nv,
        .vc,
        .vg,
        .vi,
        .vm,
        .o,
        .ow,
        .gh,
        .gu {
            color: $color_7;
        }

        .s,
        .sa,
        .sc,
        .dl,
        .sd,
        .s2,
        .se,
        .sh,
        .sx,
        .s1,
        .ss {
            color: $color_6;
        }

        .nd,
        .nf,
        .fm {
            color: $color_9;
        }

        .err {
            color: $color_3;
            background-color: $background-color_4;
        }

        .c,
        .ch,
        .cd,
        .cm,
        .cp,
        .cpf,
        .c1,
        .cs,
        .gl,
        .gt {
            color: $color_10;
        }

        .ni,
        .si {
            color: $color_1;
        }

        .ge {
            color: $color_1;
            font-style: italic;
        }

        .gs {
            color: $color_1;
            font-weight: bold;
        }
    }
}