/* Body */
body {
    line-height: 1.4;
    background-color: $main-bg-color;

    font-family: Menlo, Monaco, "Helvetica Neue", Helvetica, "PingFangSC-Regular", "Microsoft YaHei", SimSun, serif; 

}

/* Footer */
.site-footer {
    text-align: center;
    padding: 2rem 0;
    margin-top: 0;
}

/* Main Content */
.main-content {
    max-width: 60rem;
    margin: 0 auto !important;

    h6,
    blockquote {
        color: $section-headings-color;
    }

    hr {
        background-color: #eff0f1;
    }

    a {
        color: $light-section-link-color;
    }
}

.highlight {
    background-color: $main-bg-color;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: $light-section-link-color;
}

/* Date and Title */
.date {
    display: inline-block;
    font-size: 0.8rem;
    color: #555;

    @include small {
        display: block;
        font-size: 0.8rem;
    }
}

.title {
    margin-bottom: 0 !important;
    font-size: 1.1rem;

    @include small {
        font-size: 1.1rem;
    }
}

/* Circular Image */
.circular-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
    }
}

ul,
ol {
    padding-inline-start: 20px;
}