/* Light mode variables */
$light-main-bg-color: #fff;
$light-section-headings-color: #3b3b3b;

/* Dark mode variables */
$dark-main-bg-color: #1e1e1e;
$dark-section-headings-color: #ccc;

$main-bg-color: $light-main-bg-color;
$section-headings-color: $light-section-headings-color;

$header-bg-color: #f8f0e3;
$pre-bg-color: #e0d9cf;
$date-color: darkgray;
$light-section-link-color: #2a6496;
$dark-section-link-color: white;

$primary-color: #333;
$secondary-color: #666;

$button-padding: 0.5rem 1rem;

