<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">

  <title>{{ page.title }}</title>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

  {% seo %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <!-- for mathjax support -->
  <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
          },
          TeX: { equationNumbers: { autoNumber: "AMS" } }
        });
      </script>

  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var lastShown = localStorage.getItem("donatePopup");
      var now = new Date().getTime();
      var duration = 5 * 60 * 1000; // 10 minutes in milliseconds

      function showPopup() {
        if (confirm("Donate to support the author?\n捐赠支持作者？")) {
          window.location.href = "/pages/donate";
        }
        localStorage.setItem("donatePopup", now);
      }

      if (document.title !== "Donate") {
        if (!lastShown) {
          setTimeout(function () {
            showPopup(); // Show after 10 seconds if never shown before
          }, 10000);
        } else if ((now - lastShown) > duration) {
          setTimeout(function () {
            if (Math.random() <= 0.3) {
              showPopup();
            }
          }, 10000); // 10 seconds
        }
      }
    });
  </script>


</head>

<body>
  {{ content }}
</body>

</html>