---
layout: default
---

<main id="content" class="main-content" role="main">

  <h3>{{ page.title }}</h3>

  <div class="button-container">
    <a href="/" class="button left-button">
      Home
    </a>

    {% assign current_lang = page.path | split: '-' | last | split: '.' | first %}

    {% if current_lang == "en" or current_lang == "cn" %}
    {% assign file_parts = page.path | split: '/' | last | replace: ".md", "" | split: '-' %}
    {% assign base_name = file_parts | slice: 3, file_parts.size | join: '-' | replace: "-#{current_lang}", "" %}

    <!-- <p>Base Name: {{ base_name }}</p> -->

    {% assign base_name = base_name | replace_last: "-#{current_lang}", "" %}

    <!-- <p>Base Name: {{ base_name }}</p> -->

    {% if current_lang == "en" %}
    <a href="/{{ base_name }}-cn" class="button right-button">中文</a>
    {% elsif current_lang == "cn" %}
    <a href="/{{ base_name }}-en" class="button right-button">English</a>
    {% endif %}
    {% endif %}
  </div>


  <hr>

  {{ content }}

  <hr>

  <div class="button-container">
    <a href="/" class="button left-button">Back</a>

    <a href="/pages/donate" class="button right-button">Donate</a>
  </div>

</main>