---
layout: default
---

<main id="content" class="main-content" role="main">

  <div class="title-row">
    <h3 class="title">{{ page.title }}</h3>

    <!-- Check if the file name contains a date -->
    {% assign date_parts = page.path | split: '/' %}
    {% assign date_segment = date_parts[1] %}

    {% if date_segment contains '-' %}
    <!-- If date is present, split it and format -->
    {% assign date_parts = date_segment | split: '-' %}
    {% assign file_date = date_parts[0] | append: '-' | append: date_parts[1] | append: '-' | append: date_parts[2] %}
    <p class="date">{{ file_date }}</p>
    {% else %}
    <!-- If no date in file name, display a default or nothing -->
    <p class="date">No date available</p>
    {% endif %}
  </div>



  <div class="button-container">
    <a href="/" class="button left-button">
      Home
    </a>

    {% assign current_lang = page.path | split: '-' | last | split: '.' | first %}

    {% if current_lang == "en" or current_lang == "cn" %}

    {% if page.link %}
    <!-- If link is defined, show the link directly -->
    {% if current_lang == "en" %}
    <a href="/{{ page.link }}" class="button right-button">中文</a>
    {% elsif current_lang == "cn" %}
    <a href="/{{ page.link }}" class="button right-button">English</a>
    {% endif %}
    {% else %}
    {% assign file_parts = page.path | split: '/' | last | replace: ".md", "" | split: '-' %}
    {% assign base_name = file_parts | slice: 3, file_parts.size | join: '-' | replace: "-#{current_lang}", "" %}

    {% assign base_name_length = base_name | size %}

    {% if base_name_length >= 3 %}
    {% assign length_to_slice = base_name_length | minus: 3 %}
    {% assign base_name = base_name | slice: 0, length_to_slice %}
    {% endif %}

    {% if current_lang == "en" %}
    <a href="/{{ base_name }}-zh" class="button right-button">中文</a>
    {% elsif current_lang == "cn" %}
    <a href="/{{ base_name }}-en" class="button right-button">English</a>
    {% endif %}
    {% endif %}

    {% endif %}
  </div>


  <hr>

  {{ content }}

  <hr>

  <div class="button-container">
    <a href="/" class="button left-button">Back</a>

    <a href="/pages/donate" class="button right-button">Donate</a>
  </div>

</main>