name: Rust CI

on:
  push:
    branches: [ main ]
    paths:
      - 'rust/**'
  workflow_dispatch:

concurrency:
  group: 'cargo'
  cancel-in-progress: true

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        target: x86_64-unknown-linux-gnu
        components: rustfmt, clippy

    - name: Cache Rust dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build
      run: cargo build --verbose
      working-directory: ./rust

    - name: Run tests
      run: cargo test --verbose
      working-directory: rust

    - name: Run fmt
      run: cargo fmt --all -- --check || true
      working-directory: rust

    - name: Run clippy
      run: cargo clippy --all-features -- -D warnings
      working-directory: rust