name: Deploy Jekyll with GitHub Pages dependencies preinstalled

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  awesome-cv-copy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Make
        run: sudo apt-get update && sudo apt-get install -y make

      - name: Cache TeX Live
        uses: actions/cache@v3
        with:
          path: /usr/local/texlive/2023
          key: ${{ runner.os }}-texlive-2023
          restore-keys: |
            ${{ runner.os }}-texlive-

      - name: Install TeX Live 2023
        if: steps.cache-texlive.outputs.cache-hit != 'true'
        run: |
          # 安装 TeX Live 安装程序所需的依赖项
          sudo apt-get update
          sudo apt-get install -y perl wget xz-utils

          # 下载 TeX Live 安装程序
          wget http://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
          tar -xzf install-tl-unx.tar.gz
          cd install-tl-*/

          # 创建用于自动化安装的 texlive.profile
          cat <<EOF > texlive.profile
          selected_scheme scheme-full
          TEXDIR /usr/local/texlive/2023
          TEXMFCONFIG ~/.texlive2023/texmf-config
          TEXMFHOME ~/texmf
          TEXMFLOCAL /usr/local/texlive/2023/texmf-local
          TEXMFSYSCONFIG /usr/local/texlive/2023/texmf-config
          TEXMFSYSVAR /usr/local/texlive/2023/texmf-var
          binary_x86_64-linux 1
          collection-basic 1
          collection-latex 1
          collection-fontsrecommended 1
          collection-xetex 1
          EOF

          # 使用配置文件运行安装程序
          sudo ./install-tl --profile=texlive.profile

      - name: Add TeX Live to PATH
        run: echo "/usr/local/texlive/2023/bin/x86_64-linux" >> $GITHUB_PATH

      - name: Print PATH
        run: echo $PATH

      - name: Verify TeX Live Installation
        run: |
          which xelatex
          xelatex --version

      - name: List TeX Live Binaries
        run: ls -l /usr/local/texlive/2023/bin/x86_64-linux/

      - name: Run make awesome-cv-copy
        run: make awesome-cv-copy

  build:
    runs-on: ubuntu-latest
    needs: awesome-cv-copy
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python 3
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install python-frontmatter

      - name: Generate notes links
        run: |
          python scripts/generate_notes_link.py

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
