name: Test LaTeX

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Microsoft core fonts
        run: |
          sudo apt-get install -y ttf-mscorefonts-installer
          fc-cache -fv

      - name: Install Noto fonts for Hindi, Arabic, and other scripts
        run: |
          sudo apt-get install -y fonts-noto

      - name: Install Noto CJK fonts for Chinese, Japanese, and Traditional Chinese
        run: |
          sudo apt-get install -y fonts-noto-cjk

      - name: Install DejaVu fonts for Latin scripts (English, French, German, Spanish)
        run: |
          sudo apt-get install -y fonts-dejavu

      - name: List installed fonts
        run: fc-list

      - name: Setup TeX Live
        uses: teatimeguest/setup-texlive-action@v3
        with:
          packages: |
            xeCJK
            etoolbox
            adjustbox
            roboto
            sourcesanspro
            fontawesome5
            tcolorbox
            setspace
            unicode-math
            fancyvrb
            olyglossia
            polyglossia
            bidi
            booktabs
            footnote

      - name: Confirm Package Installation
        run: |
          kpsewhich tcolorbox.sty
          kpsewhich etoolbox.sty
          kpsewhich adjustbox.sty
          kpsewhich roboto.sty
          kpsewhich sourcesanspro.sty
          kpsewhich fontawesome5.sty
          kpsewhich setspace.sty
          kpsewhich unicode-math.sty
          kpsewhich fancyvrb.sty
          kpsewhich olyglossia.sty
          kpsewhich polyglossia.sty
          kpsewhich bidi.sty
          kpsewhich booktabs.sty
          kpsewhich footnote.sty
          kpsewhich xeCJK.sty

      - name: Install pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Clean Up Credentials
        run: |
          rm -f ./gha-creds-*.json          

      - name: Run pdf-pipeline.py and commit every 50 files
        run: |
          processed_files=0
          while true; do
            python scripts/pdf-pipeline.py --n 10000 --max_files 50
            if [[ $(grep "Total Markdown files to process: 0" <<< $(python scripts/pdf-pipeline.py --n 1)) ]]; then
              echo "No more files to process."
              break
            fi
            echo "Processed some files, checking for more..."
            
            processed_files=$((processed_files + 50))
            
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add assets/pdfs/**/*.pdf
            git diff --cached --quiet || git commit -m "Update PDF - Batch $processed_files"
            
            git push || {
              echo "Push failed, attempting pull and merge"
              git pull --rebase
              git push
            }
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

