name: Test LaTeX

on:
  workflow_dispatch:

jobs:
  test_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download the fonts
        run: for i in simhei.ttf simkai.ttf simsun.ttc simsunb.ttf simfang.ttf; do wget -P fonts/ https://xugr.keybase.pub/static/fonts/$i; done

      - name: Copy the fonts # In newer version of fontconfig, it reads $HOME/.local/share/fonts/ but not $HOME/.fonts
        run: mkdir -p ~/.local/share/fonts && cp -r fonts/* ~/.local/share/fonts/
        
      - name: Build font information caches
        run: fc-cache -rv

      - name: Setup TeX Live
        uses: teatimeguest/setup-texlive-action@v3
        with:
          packages: |
            xeCJK
            etoolbox
            adjustbox
            roboto
            sourcesanspro
            fontawesome5
            tcolorbox
            setspace
            unicode-math

      - name: Install pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run test_latex.py
        run: python scripts/test_latex.py

      - name: Generate PDF
        run: |
          pandoc '_posts/en/2025-01-13-gitmessageai-en.md' -o test.pdf -f markdown --pdf-engine xelatex -V CJKmainfont='Heiti SC' -V geometry:margin=1in -V classoption=16pt -V CJKoptions=Scale=1.1 -V linestretch=1.5

      - name: Check for xeCJK.sty
        run: find /usr/local/texlive/2024 -name "xeCJK.sty"