name: Test LaTeX

on:
  workflow_dispatch:

jobs:
  test_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup TeX Live
        uses: latex-actions/setup-tex@v2
        with:
          tex: 'texlive'
          distribution: 'tl-2024'
          packages: 'xeCJK, fontspec, xparse, geometry, libertinus, pdftex, luatex, xetex'

      - name: Install pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run test_latex.py
        run: python scripts/test_latex.py

      - name: Generate PDF
        run: |
          pandoc '_posts/en/2025-01-13-gitmessageai-en.md' -o test.pdf -f markdown --pdf-engine xelatex -V CJKmainfont='Heiti SC' -V geometry:margin=1in -V classoption=16pt -V CJKoptions=Scale=1.1 -V linestretch=1.5

      - name: Check for xeCJK.sty
        run: find /usr/local/texlive/2024 -name "xeCJK.sty"