name: Test LaTeX

on:
  workflow_dispatch:

jobs:
  test_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Microsoft core fonts
        run: |
          sudo apt-get install -y ttf-mscorefonts-installer
          fc-cache -fv

      - name: List installed fonts
        run: fc-list

      - name: Setup TeX Live
        uses: teatimeguest/setup-texlive-action@v3
        with:
          packages: |
            xeCJK
            etoolbox
            adjustbox
            roboto
            sourcesanspro
            fontawesome5
            tcolorbox
            setspace
            unicode-math
            fancyvrb
            olyglossia

      - name: Install pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Generate PDF
        run: |
          pandoc '_posts/en/2025-01-13-gitmessageai-en.md' -o test.pdf -f markdown --pdf-engine xelatex -V CJKmainfont='DejaVu Sans' -V geometry:margin=1in -V classoption=16pt -V CJKoptions=Scale=1.1 -V linestretch=1.5

